<% edit = @user == current_user ? edit_user_registration_path(current_user) : nil %>
<%= render 'components/page_header', header: "", back: true, edit: edit %>

<div class="profile-header flex-center flex-direction-column">
  <%= render('components/avatar', image: @user.avatar, size: 100) %>
  <h1><%= @user.format_username %></h1>
  <p><%= @user.description %></p>
</div>

<div class="boards">
  <% @user.boards.each do |board| %>
    <%= render 'boards/board', board: board %>
  <% end %>
  <% if @user.boards.empty? %>
    <div class="flex-center no-boards">
      <h4>No boards yet...</h4>
    </div>
  <% end %>
</div>
