<%= render 'components/page_header', header: "", back: true %>

<div class="profile-header flex-center flex-direction-column">
  <%= render('components/avatar', image: @user.avatar, size: 100) %>
  <h1><%= @user.format_username %></h1>
  <% if @user == current_user %>
    <%= link_to 'Edit profile', edit_user_registration_path(current_user) %>
  <% end %>
</div>

<div class="boards">
  <% @user.boards.each do |board| %>
    <%= render 'boards/board', board: board %>
  <% end %>
</div>
