<div class="account-menu" data-controller="dropdown">
  <div data-action="click->dropdown#toggle">
    <% if current_user&.avatar %>
      <%= render 'components/avatar', image: current_user.avatar, size: 40, style: 'margin-left: 10px' %>
    <% else %>
      <div class="menu-button flex-center">
        <%= render 'icons/user' %>
      </div>
    <% end %>
  </div>
  <div class="dropdown-menu display-none" data-dropdown-target="toggleable">
    <% if current_user %>
      <%= link_to "My Profile", profile_path(current_user) %>
      <%= link_to "Logout", destroy_user_session_path, :method => :delete %>
    <% else %>
      <%= link_to "Login", new_user_session_path %>
      <%= link_to "Sign Up", new_user_registration_path %>
    <% end %>
  </div>
</div>
