<% size ||= 20 %>
<% link ||= nil %>
<% title ||= nil %>
<% style ||= '' %>

<% if link && title %>
  <%= link_to link do %>
    <div class="avatar-container" style="<%= style %>">
      <div class="avatar flex-center" style="width: <%= size %>px; height: <%= size %>px; border: <%= size.to_f / 30 %>px solid white; border-radius: <%= size %>px; box-shadow: 0px <%= size.to_f / 15 %>px <%= size.to_f / 4 %>px rgba(0,0,0,0.1);">
        <%= render('icons/user', size: (size.to_f / 2), stroke_width: 1.5) unless image.attached? %>
        <%= cl_image_tag(image.key, :width=>600, :height=>600, :crop=>"fill") if image.attached? %>
      </div>
      <h4 style="font-size:<%= size.to_f / 3 %>px; margin: 0px <%= size.to_f / 4 %>px; margin-bottom: <%= size.to_f / 8 %>px"><%= title %></h4>
    </div>
  <% end %>
<% elsif link %>
  <%= link_to link do %>
    <div class="avatar flex-center" style="width: <%= size %>px; height: <%= size %>px; border: <%= size.to_f / 30 %>px solid white; border-radius: <%= size %>px; box-shadow: 0px <%= size.to_f / 15 %>px <%= size.to_f / 4 %>px rgba(0,0,0,0.1); <%= style %>">
      <%= render('icons/user', size: (size.to_f / 2), stroke_width: 1.5) unless image.attached? %>
      <%= cl_image_tag(image.key, :width=>600, :height=>600, :crop=>"fill") if image.attached? %>
    </div>
  <% end %>
<% else %>
  <div class="avatar flex-center" style="width: <%= size %>px; height: <%= size %>px; border: <%= size.to_f / 30 %>px solid white; border-radius: <%= size %>px; box-shadow: 0px <%= size.to_f / 15 %>px <%= size.to_f / 4 %>px rgba(0,0,0,0.1); <%= style %>">
    <%= render('icons/user', size: (size.to_f / 2), stroke_width: 1.5) unless image.attached? %>
    <%= cl_image_tag(image.key, :width=>600, :height=>600, :crop=>"fill") if image.attached? %>
  </div>
<% end %>

