<%# commented out: %>
<% if false %>
  <%= link_to "/search/#{location.longitude}/#{location.latitude}" do %>
    <div class="flex-align-center location-info">
      <%= render 'icons/pin', size: 10 %>
      <h6 class="location-title"><%= location.title %></h6>
    </div>
  <% end %>
<% end %>
<%# %>


<div class="flex-align-center location-info">
  <%= render 'icons/pin', size: 10 %>
  <h6 class="location-title"><%= location.title %></h6>
</div>

