<% if absolute %>
  <div class="navbar absolute flex-space-between">
<% else %>
  <div class="navbar sticky flex-space-between">
<% end %>
  <%= render partial: 'components/logo' %>
  <div class="navbar-right">
    <% if current_user %>
      <%= link_to "+ Add Post", new_post_path %>
      <%= link_to "+ Add board", new_board_path %>
      <%= link_to "My Profile", profile_path(current_user) %>
      <%= link_to "Logout", destroy_user_session_path, :method => :delete %>
    <% else %>
      <%= link_to "Login", new_user_session_path %>
      <%= link_to "Sign Up", new_user_registration_path %>
    <% end %>
  </div>
</div>
