<% padding_horizontal ||= "30px" %>
<% padding_vertical ||= "0px" %>
<% back ||= false %>
<% back_link ||= nil %>
<% edit ||= nil %>

<div class="page-header" style="padding: <%= padding_vertical %> <%= padding_horizontal %>">
  <!-- header position absolute center -->
  <h1 class="text-center font-lrg"><%= header %></h1>

  <% if back_link %>
    <%= link_to back_link, class: "icon-button" do %>
      <%= render 'icons/arrow_left' %>
    <% end %>
  <% elsif back %>
    <%= link_to :back, class: "icon-button" do %>
      <%= render 'icons/arrow_left' %>
    <% end %>
  <% end %>

  <div class="options">
    <% if edit %>
      <%= link_to edit, class: "icon-button" do %>
        <%= render 'icons/edit' %>
      <% end %>
    <% end %>
  </div>
</div>
