<div class="pagination-styler">
  <% if items.previous_page %>
    <%= link_to request.params.merge(page: items.previous_page), style: "aria-label: previous;" do %>
      <%= render 'icons/chevron', color: "black", left: true %>
    <% end %>
  <% else %>
    <div class="disabled-paginination">
      <%= render 'icons/chevron', color: "#CCCCCC", left: true %>
    </div>
  <% end %>

  <% pages = [*1..items.total_pages] %>
  <% pages.each do |page| %>
    <% if page == items.current_page %>
      <div class="active-page"><%= page %></div>
    <% else %>
      <%= link_to page, request.params.merge(page: page) %>
    <% end %>
<!--   Page <%= items.current_page %> of <%= items.total_pages %> -->
  <% end %>


  <% if items.next_page %>
    <%= link_to request.params.merge(page: items.next_page), "aria-label" => "next" do %>
      <%= render 'icons/chevron', color: "black", left: false %>
    <% end %>
  <% else %>
    <div class="disabled-paginination">
      <%= render 'icons/chevron', color: "#CCCCCC", left: false %>
    </div>
  <% end %>
</div>
