<div class="search-page-results">
  <div class="search-sub-navbar">
    <div class="search-info">
      <h3><%= @posts.total_entries %> results found</h3>
      <!-- <div class="search-info-query">
        <%= render 'icons/pin', color: "#909090", size: 15 %>
        <% if params[:search_query] %>
          <h4>Search: '<%= params[:search_query] %>'</h4>
        <% else %>
          <h4>lat: <%= params[:lat] %>, lng: <%= params[:lng] %></h4>
        <% end %>
      </div> -->

    </div>
    <!-- results go here -->
    <%= will_paginate @posts, :previous_label => '<', :next_label => '>' %>
  </div>

  <div class="grid" data-masonry='{ "itemSelector": ".grid-item", "percentageWidth": true }'>
    <% @posts.each do |post| %>
      <div class="grid-item">
        <%= render 'posts/post', post: post %>
      </div>
    <% end %>
  </div>
</div>
