<a href="#" onclick="history.back()">Go Back</a>
<h1><%= @board.title %></h1>
<% @board.users.each do |user| %>
  <%= link_to "#{user.email}", profile_path(user.id) %>
<% end %>

<%= link_to "Edit", edit_board_path(@board) %>
<%= link_to "Destroy", board_path(@board), :method => :delete %>

<div>
  <% @board.posts.each do |post| %>
    <%= link_to post_path(post) do %>
      <%= render 'posts/post', post: post %>
    <% end %>
  <% end %>
</div>
