<%= render 'components/page_header', header: "#{@board.title.capitalize}", back: true, padding_horizontal: '0px' %>
<!-- <% @board.users.each do |user| %>
  <%= link_to "#{user.email}", profile_path(user.id) %>
<% end %>

<%= link_to "Edit", edit_board_path(@board) %>
<%= link_to "Destroy", board_path(@board), :method => :delete %> -->

<div class="grid" data-masonry='{ "itemSelector": ".grid-item", "percentageWidth": true }'>
  <% @posts.each do |post| %>
    <div class="grid-item">
      <%= render 'posts/post', post: post %>
    </div>
  <% end %>
</div>

<%= render 'components/pagination', items: @posts %>

