<%= form_with(model: post, local: true, class: 'post-form') do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="col-half">
    <div class="upload-container" data-controller="image-uploader" data-action="click->image-uploader#openImageSelect">
      <%= form.fields_for :photo do |photo_form| %>
        <%= render 'components/image_uploader', form: photo_form, form_object_image: photo_form.object.image %>

        <%= photo_form.hidden_field :image, as: :file, value: photo_form.object.image.signed_id if photo_form.object.image.attached? %>
        <%= photo_form.file_field :image, as: :file, class: 'display-none', data: {image_uploader_target: "input", action: "change->image-uploader#updatePreview"} %>
      <% end %>
    </div>
  </div>

  <div class="col-half">
    <div class="field">
      <%= form.label :title %>
      <%= form.text_field :title %>
    </div>

    <div class="field">
      <%= form.label :description %>
      <%= form.text_field :description %>
    </div>

    <div class="field">
      <%= form.label :board %>
      <%= collection_select(:post, :board_id, current_user.boards, :id, :title, prompt: true) %>
    </div>

    <%= form.fields_for :location do |location_form| %>
      <%= render "location_fields", form: location_form %>
    <% end %>

    <div class="actions">
      <%= form.submit "Create Post", data: { disable_with: "Please wait..." } %>
    </div>
  </div>

<% end %>
