<div class="nested-fields">
  <%= form.hidden_field :_destroy %>
  <div>
      <%= form.label :longitude %>
      <%= form.text_field :longitude %>
  </div>
  <div>
      <%= form.label :latitude %>
      <%= form.text_field :latitude %>
  </div>
  <!-- <div>
      <%= link_to "Remove", '#', class: "remove_fields" %>
  </div> -->
</div>
