<div class="nested-fields" style="width: 100%">
  <div class="display-none">
      <%= form.label :title %>
      <%= form.text_field :title, id: 'title' %>
  </div>
  <div class="display-none">
      <%= form.label :address %>
      <%= form.text_field :address, id: 'address' %>
  </div>
  <div class="display-none">
      <%= form.label :longitude %>
      <%= form.text_field :longitude, id: 'longitude' %>
  </div>
  <div class="display-none">
      <%= form.label :latitude %>
      <%= form.text_field :latitude, id: 'latitude' %>
  </div>
  <div id='select-location' style='width: 100%; height: 300px;'></div>
  <script>
      var longitudeField = document.getElementById('longitude');
      var latitudeField = document.getElementById('latitude');
      var addressField = document.getElementById('address');
      var titleField = document.getElementById('title');

      mapboxgl.accessToken = "<%= ENV['MAPBOX_TOKEN'] %>";
      var map = new mapboxgl.Map({
        container: 'select-location',
        style: 'mapbox://styles/mapbox/streets-v11',
        zoom: 3,
        center: [longitudeField.value, latitudeField.value]
      });

      // location form fields
      function setLocationFields(lng, lat, address, title) {
        longitudeField.value = lng;
        latitudeField.value = lat;
        addressField.value = address;
        titleField.value = title;
      };

      // marker
      var marker = new mapboxgl.Marker({
            color: "black",
            draggable: true
          })
            .setLngLat([longitudeField.value, latitudeField.value])
            <% if post.location && post.location.longitude && post.location.latitude %>
              .addTo(map)
            <% end %>;

      // geocoder
      var geocoder = new MapboxGeocoder({
          accessToken: mapboxgl.accessToken,
          mapboxgl: mapboxgl
        });

      geocoder.on('result', function(e) {
        console.log(e.result);
        marker.setLngLat(e.result.center).addTo(map);
        setLocationFields(...e.result.center, e.result.place_name, e.result.text);
        geocoder.clear();
      });

      map.addControl(geocoder);

      // // marker functionality
      // marker.on('dragend', function(e) {
      //   // The event object (e) contains information like the
      //   // coordinates of the point on the map that was clicked.
      //   // console.log('A click event has occurred at ' + this.getLngLat());
      //   var lngLat = this.getLngLat();
      //   setLocationFields(lngLat.lng, lngLat.lat);
      // });

      // map.on('click', function(e) {
      //   // marker.setLngLat([e.lngLat])
      //   marker.setLngLat([e.lngLat.lng, e.lngLat.lat]).addTo(map);
      //   setLocationFields(e.lngLat.lng, e.lngLat.lat);
      // });
    </script>
</div>
