<div id="post-<%= post.id %>" class="post-card" data-post="<%= post.id %>" data-location="<%= post.location.id %>">
  <%= image_tag post.photo.url, style: 'width:400px;' %>
  <p><%= post.title %></p>
</div>
