<h1><%= @post.title %></h1>
<h3><%= @post.description %></h3>

<%= link_to "Destroy", post_path(@post), :method => :delete %>
<%= link_to "Edit", edit_post_path(@post) %>
<div>
  <h3>Saved to board:</h3>
  <%= link_to "#{@post.board.title}", board_path(@post.board) %>
</div>

<div>
  <h3>Locations:</h3>
  <% @post.locations.each do |location| %>
    <div style="border: 1px solid black;padding: 10px">
      <p>latitude: <%= location.latitude %></p>
      <p>longitude: <%= location.longitude %></p>
    </div>
  <% end %>
</div>

<%= image_tag @post.photo.url %>
