<h1><%= @post.title %></h1>
<h3><%= @post.description %></h3>

<%= link_to "Destroy", post_path(@post), :method => :delete %>
<%= link_to "Edit", edit_post_path(@post) %>
<div>
  <h3>Saved to board:</h3>
  <%= link_to "#{@post.board.title}", board_path(@post.board) %>
</div>

<div>
  <h3>Location:</h3>
  <% location = @post.location %>
  <div style="border: 1px solid black;padding: 10px">
    <p>latitude: <%= location.latitude %></p>
    <p>longitude: <%= location.longitude %></p>
  </div>
  <div id='map' style='width: 400px; height: 300px;'></div>
  <script>
      mapboxgl.accessToken = "<%= ENV['MAPBOX_TOKEN'] %>";
      var map = new mapboxgl.Map({
        container: 'map',
        style: 'mapbox://styles/mapbox/streets-v11',
        center: <%= location.coordinates %>,
        zoom: 9
      });
      var marker = new mapboxgl.Marker({
        color: "black"
      })
        .setLngLat(<%= location.coordinates %>)
        .addTo(map);
    </script>
</div>

<%= image_tag @post.photo.url, style: 'width:400px;' %>
